* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --young-serif: 'Young serif';
    --outfit: 'Outfit';
    --white: hsl(0, 0%, 100%);
    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);
    --brown: hsl(14, 45%, 36%);
    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: var(--outfit);
}

.recipe-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 0 0 5em 0;
    width: 100%;
}

.content-container {
    padding: 0 2em;
}

img { 
    width: 100%;
}

h1, h2 {
    font-family: var(--young-serif);
}

h1, h2, h3 {
    padding: 0.5em 0 0 0;
}

span {
    font-weight: bold;
}

li {
    padding: 0.5em 0;
    list-style-position: inside;
}


