* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryCyan: hsl(179, 62%, 43%);
    --primaryBrightYellow: hsl(71, 73%, 54%);
    --neutralLightGray: hsl(204, 43%, 93%);
    --grayishBlue: hsl(218, 22%, 67%);
}

body {
    height: 100%;
    padding: 18rem 0;
    background-color: var(--neutralLightGray);
    font-family: "Karla", sans-serif;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid-container {
    display: grid;
    width: 90%;
}

.title {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--neutralLightGray);
}

section.subscription-introduction {
    padding: 1rem;
    background-color: white;
}

.subscription-introduction h1 {
    padding: 2rem 0 1.5rem 0;
    color: var(--primaryCyan);
}

.subscription-introduction p {
    padding: 0.5rem 0;
}

.subscription-introduction p:nth-of-type(1) {
    color: var(--primaryBrightYellow);
}

.subscription-introduction p:nth-of-type(2) {
    color: var(--grayishBlue);
    padding: 1rem 0 2rem 0;
    line-height: 2rem;
}

section.subscription-prices {
    background-color: var(--primaryCyan);
    padding: 1rem;
}

.subscription-prices p {
    color: var(--neutralLightGray);
    padding: 0.5rem 0;
}

.subscription-prices span:nth-child(1) {
    font-size: 2.5rem;
    font-weight: bold;
}

.subscription-prices span:nth-child(2) {
    color: lightgray;
    position: relative;
    top: -10px;
    left: 10px;
}

.subscription-prices input {
    background-color: var(--primaryBrightYellow);
    border: 0;
    width: 100%;
    height: 3rem;
    margin: 1.5rem 0 0.5rem 0;
    color: var(--neutralLightGray);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

section.subscription-information {
    background-color: #49bebd;
    padding: 1rem;
    color: var(--neutralLightGray);
}

.subscription-information p {
    width: 90%;
    line-height: 1.7rem;
    padding: 0.8rem 0;
}

@media (min-width: 375px) {
    body {
        padding: 20em 0;
    }
}

@media (min-height: 200px) {
    body {
        padding: 20rem 0;
    }

    .grid-container {
        width: 80%;
    }

    .subscription-introduction h1 {
        padding: 2rem 0 1.5rem 0;
    }

    .subscription-introduction p:nth-of-type(2) {
        padding: 1rem 0 2rem 0;
        line-height: 2rem;
    }
}

@media (min-width: 768px) {
    body {
        padding: 0;
    }

    .grid-container {
        width: 700px;
        grid-template-columns: 4fr 2fr 2fr;
    }

    .subscription-introduction {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .introduction-content-box {
        padding: 0 2rem;
    }

    .prices-content-box {
        padding: 1rem 2rem 0 2rem;
    }

    .subscription-information {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .information-content-box {
        padding: 0.8rem 2rem 0 2rem;
    }
}