/* Global */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    font-family: var(--outfit);
}

:root {
    --young: "Young Serif";
    --outfit: "Outfit";
    --white: hsl(0, 0%, 100%);
    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);
    --brown800: hsl(14, 45%, 36%);
    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);
}

.flex {
    display: flex;
}

.container {
    flex-direction: column;
}

/* End Global */

.content-size {
    padding: 0 10%;
}

h1, h2, h3 {
    font-family: var(--young);
    color: var(--brown800);
}

li::marker {
    color: red;
    word-spacing: 16px;
}

ul li::marker {
    content: "\2022\0020";
    font-size: 1.2em;
}

.introduction-recipe {
    flex-direction: column;
    align-content: center;
}

.introduction-recipe h1 {
    font-size: 2em;
    color: black;
}

.img {
    width: 100%;
    height: 200px;
    background-image: url(../assets/images/image-omelette.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container-preparation-time {
    margin: 1.5em 0;
    background-color: hsla(332, 51%, 32%, 0.3);
    padding: 0.2em 1em;
    border-radius: 1em;
}

.container-preparation-time h3 {
    color: hsl(333, 80%, 23%);
}

section {
    padding: 0.5em 0;
}

.introduction-recipe {
    padding: 0;
}

.nutritions .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nutritions .grid > .item, .item-2  {
    padding: 0.5em 0;
}

.nutritions .item-2 {
    color: red;
    font-weight: bold;
}

@media (min-width: 1000px)  {

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2em 0;
        background-color: var(--stone100);
    }

    .container {
        background-color: white;
        padding: 2em;
        width: 650px;
        border-radius: 2em;
    }

    .content-size {
        padding: 0;
    }

    .img {
        height: 240px;
        border-radius: 1em;
    }
}